<%= form_for(@spice) do |f| %>
  <% if @spice.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@spice.errors.count, "error") %> prohibited this spice from being saved:</h2>

      <ul>
      <% @spice.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :spicename %><br>
    <%= f.text_field :spicename %>
  </div>
  <div class="field">
    <%= f.label :quantity %><br>
    <%= f.number_field :quantity %>
  </div>
  <div class="field">
    <%= f.label :scale %><br>
    <%= f.text_field :scale %>
  </div>
  <div class="field">
    <%= f.label :supplier %><br>
    <%= f.text_field :supplier %>
  </div>
  <div class="field">
    <%= f.label :reorder %><br>
    <%= f.check_box :reorder %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
